<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boolzapp Messanger</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="./assets/css/style.css">
</head>
<body class="bg_light">
    
    <div id="app">
        <div class="mod_container">            
            <div class="container d-flex">
                <div class="col-4 pt-4">

                        <div class="bg_light d-flex justify-content-between px-3 py-2">
                            <div class="d-flex align-items-center gap-1">
                                
                                <div>
                                    <img class="circle img-fluid" src="./assets/img/avatar_5.jpg" alt="">
                                </div>
                                <span class="fw-bold">Samuele</span>

                            </div>
                            <div class="d-flex align-items-center gap-3 bg_principal">
                                <i class="fa-solid fa-circle-notch fa-lg" style="cursor: pointer;"></i>
                                <i class="fa-solid fa-message fa-lg" style="cursor: pointer;"></i>
                                <i class="fa-solid fa-bars fa-lg" style="cursor: pointer;"></i>
                            </div>

                        </div>
                    
                    <div class="d-flex px-3 py-2 gap-2 align-items-center bg_focus">

                        <div class="circle d-flex justify-content-center align-items-center bg-white">
                            <i class="fa-solid fa-bell-slash fa-lg color_focus"></i>
                        </div>
                        <div class="d-flex flex-column">
                            <span>Ricevi notifiche dei nuovi messaggi</span>
                            <span class="bg_principal text-decoration-underline fs_small" style="cursor: pointer;">Attiva notifiche desktop</span>
                        </div>

                    </div>
                    <div class="bg-white p-2">
                        <div class="input-group flex-nowrap">
                            <span class="input-group-text bg-white border-0 shadow-sm" style="cursor: pointer;">
                                <i class="fa-solid fa-magnifying-glass fa-xs bg_principal"></i>
                            </span>
                            <input type="text" class="form-control fs_small border-0 shadow-sm" placeholder="Cerca o inizia una nuova chat..">
                        </div>
                    </div>
                    <div class="bg-white container d-flex shadow-sm">
                        
                        <div style="height: 75vh; overflow: auto;">
                            
                            <div class="d-flex justify-content-between gap-1 p-2 border_mod" style="width: 400px; max-width: 480px; cursor: pointer;" v-for="(contact, index) in contacts" @click="activatedContact(index)" :class="contactActive == index ? 'bg_light' : '' ">
                                
                                <div class="d-flex gap-1">
                                    <img class="circle" style="height: 70px; width: 70px;" :src="contact.avatar" alt="">
                                    <div class="d-flex flex-column">
                                        <span class="fw-bold">{{contact.name}}</span>
                                        <span class="fs_small bg_principal">
                                            Ultimo messaggio inviato
                                        </span>
                                    </div>
                                </div>                       
                                <div class="d-flex justify-content-end">
                                    <span class="fs_xsmall bg_principal">12:00</span>
                                </div>

                            </div>
                           
                        </div>
                        

                    </div>

                </div>

                <div class="col-8 pt-4">
                    
                    <div class="bg_light d-flex justify-content-between px-4 py-2 border_left shadow">
                        <div class="d-flex align-items-center gap-1">
                            
                            <div>
                                <img class="circle img-fluid" :src="contacts[contactActive].avatar" alt="">
                            </div>
                            <div class="d-flex flex-column">
                                <span class="fw-bold">Michele</span>
                                <span class="fs_small bg_principal">Ultimo accesso oggi alle 12:00</span>
                            </div>

                        </div>
                        <div class="d-flex align-items-center gap-3 bg_principal">
                            <i class="fa-solid fa-magnifying-glass fa-lg" style="cursor: pointer;"></i>
                            <i class="fa-solid fa-paperclip fa-lg" style="cursor: pointer;"></i>
                            <i class="fa-solid fa-bars fa-lg" style="cursor: pointer;"></i>

                        </div>

                    </div>
                    <div class="container background_img shadow-sm">
                        <div v-for="(value, index) in contacts[contactActive].messages">
                            <div>  
                                
                                <ul>
                                    <li class="list-unstyled mt-4 d-flex justify-content-end" v-if="value.status == 'sent'">
                                        <div class="d-flex justify-content-end">
                                            <div class="bg_success rounded-3 p-2">
                                                {{value.message}}
                                                <div class="fs_xsmall text-end bg_principal">{{value.date}}</div>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="list-unstyled mt-4" v-else>
                                        <div class="d-flex justify-content-start">
                                            <div class="bg-white p-2 rounded-3">
                                                {{value.message}}
                                                <div class="fs_xsmall text-end bg_principal">{{value.date}}</div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>     
                            </div>
                        </div>

                            
                        
                    </div>
                    <div class="input-group flex-nowrap p-2 bg_sfondo shadow-sm">
                        <span class="input-group-text border-0 bg_sfondo" style="cursor: pointer;">
                            <i class="fa-regular fa-face-smile fa-lg bg_principal"></i>
                        </span>
                        <input type="text" class="form-control border-0 rounded-2 p-2 shadow-sm" placeholder="Scrivi un messaggio..">
                        <span class="input-group-text border-0 bg_sfondo" style="cursor: pointer;">
                            <i class="fa-solid fa-microphone fa-lg"></i>
                        </span>
                    </div>
                    
                </div>
                
            </div>

        </div>

        <div class="container" style="height: calc(100vh - 20vh);">
    
        </div>



    </div>


    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="./assets/js/app.js"></script>


</body>
</html>