:root {
    --bz-app-principal: #71716d;
    --bz-app-header: #009688;
    --bz-app-success: #D5F9BA;
    --bz-app-light: #E9EBEB;
    --bz-app-white: #FFFFFF;
    --bz-app-focus: #8EDAFC;
}

.mod_container{
    height: 20vh;
    background-color: var(--bz-app-header);
}

.bg_light{
    background-color: var(--bz-app-light);
}

.bg_principal{
    color: #B1B1B1;
}

.bg_focus{
    background-color: var(--bz-app-focus);
}

.color_focus{
    color: var(--bz-app-focus);
}

.circle{
    width: 50px;
    height: 50px;
    border: 1px solid white;
    border-radius: 50%;
}

.fs_small{
    font-size: 12px;
}

.fs_xsmall{
    font-size: 10px;
}

.border_mod{
    border-top: 1px solid rgb(247, 244, 244);
}

.border_let{
    border-left: 1px solid rgb(207, 203, 203);
}

.background_img{
    background-image: url(/assets/img/mine.jpg);
    height: calc(82vh - 8px);
    overflow: auto;
}

.bg_sfondo{
    background-color: #F3EEEA;
}

.bg_success{
    background-color: var(--bz-app-success);
}
